{% extends 'bootstrap.html' %}

{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_extra_head %}
    <link href="{% static 'admin/css/base.css' %}" rel="stylesheet">
{% endblock %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">West Bank</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% block customers_list_is_active %}{% endblock %}"><a href="{% url 'customers_list' %}">Customers<span
                            class="sr-only">(current)</span></a></li>
                    <li class="{% block accounts_list_is_active %}{% endblock %}"><a href="{% url 'accounts_list' %}">Accounts<span
                            class="sr-only">(current)</span></a></li>
                    <li class="{% block transactions_list_is_active %}{% endblock %}"><a
                            href="{% url 'transactions_list' %}">Transactions<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}